/*


!/deluge
!/deluge/*
/deluge/config/id.dkr
/deluge/config/config/core/id+
/deluge/config/config/users/id+
/deluge/config/config/plugins/id
# /deluge/config/config/
# /deluge/config/config/plugins/official/
# /deluge/config/config/plugins/3rd.party/

!/ffsync
!/ffsync/*

!/forked-daapd
!/forked-daapd/*

# !/headphones
# !/headphones/*

!/irc
!/irc/*
/irc/config.old
/irc/config.current
/irc/irc
/irc/config.default/irssi/.ssh
/irc/config.default/weechat/.ssh
/irc/config.default/znc/users
/irc/config.custom
!/irc/config.custom/README.md

!/iscsi
!/iscsi/*

!/jackett
!/jackett/*
/jackett/config/.config

!/linux-bin
!/linux-bin/*

!/nginx
!/nginx/*

!/pipework
!/pipework/*

!/ps3netsrv
!/ps3netsrv/*

!/pxe
!/pxe/*
/pxe/pxe.custom
!/pxe/pxe.custom/README.md


!/samba
!/samba/*

!/samba-iso
!/samba-iso/*

!/sonarr
!/sonarr/*

!/nfs
!/nfs/*

!/tvh
!/tvh/*
/tvh/mc2xml
/tvh/mc2xml/*
/tvh/config/config/channels
/tvh/config/config/adapters
/tvh/config/config/bouquets
/tvh/config/config/network
/tvh/config/config/filters/subtitles/disabled+
/tvh/config/config/users/id+
/tvh/config/config/epg/xmltv/uk/atlas/region/south
/tvh/config/config/epg/xmltv/uk/atlas/api-key+
/tvh/config/id.pre-scan.dkr
/tvh/config/id.post-scan.clean.dkr
/tvh/config/scratch.channels



scratch.dkr
scratch.*

# !/
# !//*

*.html
