/*


!/couchpotato
!/couchpotato/*
/couchpotato/config.current
/couchpotato/config.custom
!/couchpotato/config.custom/README.md

!/deluge
!/deluge/*
/deluge/config/id.dkr
/deluge/config/config/core/id+
/deluge/config/config/users/id+
/deluge/config/config/plugins/id
# /deluge/config/config/
# /deluge/config/config/plugins/official/
# /deluge/config/config/plugins/3rd.party/

!/deluge-pia
!/deluge-pia/*
/deluge-pia/config.current
/deluge-pia/config.custom
!/deluge-pia/config.custom/README.md

!/forked-daapd
!/forked-daapd/*

!/headphones
!/headphones/*
/headphones/config.current
/headphones/config.custom
!/headphones/config.custom/README.md

!/irc
!/irc/*
/irc/config.old
/irc/config.current
/irc/irc
/irc/config.default/irssi/.ssh
/irc/config.default/weechat/.ssh
/irc/config.default/znc/users
/irc/config.custom
!/irc/config.custom/README.md

!/iscsi
!/iscsi/*

!/jackett
!/jackett/*
/jackett/config/.config

!/linux-bin
!/linux-bin/*

# !/nfs
# !/nfs/*

!/nginx
!/nginx/*

!/pipework
!/pipework/*

!/ps3netsrv
!/ps3netsrv/*

!/pxe
!/pxe/*
/pxe/pxe.custom
!/pxe/pxe.custom/README.md

!/samba
!/samba/*

!/samba-iso
!/samba-iso/*

!/sonarr
!/sonarr/*

!/tvh
!/tvh/*
/tvh/mc2xml
/tvh/mc2xml/*
/tvh/config/config/channels
/tvh/config/config/adapters
/tvh/config/config/bouquets
/tvh/config/config/network
/tvh/config/config/filters/subtitles/disabled+
/tvh/config/config/users/id+
/tvh/config/config/epg/xmltv/uk/atlas/region/south
/tvh/config/config/epg/xmltv/uk/atlas/api-key+
/tvh/config/id.pre-scan.dkr
/tvh/config/id.post-scan.clean.dkr
/tvh/config/scratch.channels
/tvh/old_config/*
/tvh/autorec/*



scratch.dkr
scratch.*

# !/
# !//*

*.html
