; Set here your per-site configuration for winpe install.bat
; Use the following syntax:
;
; var=value
; (one per line, with no comments, no quotes, and no spaces between ' = ')
;


; samba share settings
; must point to windows installer mounted ISO root folder on samba / cifs


samba_server=__PUT__HERE__SAMBA_SERVER_IP
samba_share=__PUT__HERE__SAMBA_SHARE_NAME
samba_username=__PUT__HERE__SAMBA_USERNAME
samba_password=__PUT__HERE__SAMBA_PASSWORD


; Uncomment to be dumped at a command prompt (cmd.exe)
; command_prompt=true




